In [125]:
config = {
    'account_types': {
        'ASSET': {'balance_type': 'DEBIT'},
        'EXPENSE': {'balance_type': 'DEBIT'},
        'INCOME': {'balance_type': 'CREDIT'},
        'LIABILITY': {'balance_type': 'CREDIT'},
        'CAPITAL':{'balance_type': 'CREDIT'},
        
    },
    

    'accounts': {
        'Cash': {'type':{'CurrentAsset':{'type':'ASSET'}}},
        'CashEquivalents': {'type':{'CurrentAsset':{'type':'ASSET'}}},
        'ShortTermDeposits': {'type':{'CurrentAsset':{'type':'ASSET'}}},
        'AccountsReceivables': {'type':{'CurrentAsset':{'type':'ASSET'}}},
        'Inventory': {'type':{'CurrentAsset':{'type':'ASSET'}}},
        'MarketableSecurities':{'type':{'CurrentAsset':{'type':'ASSET'}}},
        'OfficeSupplies':{'type':{'CurrentAsset':{'type':'ASSET'}}},
        'PrepaidExpenses':{'type':{'CurrentAsset':{'type':'ASSET'}}},

        'Land':{'type':{'FixedAsset':{'type':'ASSET'}}},
        'Building':{'type':{'FixedAsset':{'type':'ASSET'}}},
        'Machinery':{'type':{'FixedAsset':{'type':'ASSET'}}},
        'Equipment':{'type':{'FixedAsset':{'type':'ASSET'}}},
        'Patents':{'type':{'FixedAsset':{'type':'ASSET'}}},
        'Trademarks':{'type':{'FixedAsset':{'type':'ASSET'}}},
        'Goodwill':{'type':{'FixedAsset':{'type':'ASSET'}}},
        'Brand':{'type':{'FixedAsset':{'type':'ASSET'}}},
        'Copyrights':{'type':{'FixedAsset':{'type':'ASSET'}}},
        'Trade secrets':{'type':{'FixedAsset':{'type':'ASSET'}}},
        'Licenses And Permits':{'type':{'FixedAsset':{'type':'ASSET'}}},
        'Corporate Intellectual Property':{'type':{'FixedAsset':{'type':'ASSET'}}},


        'Accounts Payable':{'type':{'Current_Liability':{'type':'LIABILITY'}}},
        
        'Principal  & Interest ':{'type':{'Current_Liability':{'type':'LIABILITY'}}},
        'Outstanding_Salaries':{'type':{'Current_Liability':{'type':'LIABILITY'}}},
        'Wages':{'type':{'Current_Liability':{'type':'LIABILITY'}}},
        'Notes Payable':{'type':{'Current_Liability':{'type':'LIABILITY'}}},
        'Income Tax dues':{'type':{'Current_Liability':{'type':'LIABILITY'}}},
        'Mortagage':{'type':{'Current_Liability':{'type':'LIABILITY'}}},
        'Payroll':{'type':{'Current_Liability':{'type':'LIABILITY'}}},
        'Unearned income':{'type':{'Current_Liability':{'type':'LIABILITY'}}},
        'Accrued expenses':{'type':{'Current_Liability':{'type':'LIABILITY'}}},
        'Short Term Debt':{'type':{'Current_Liability':{'type':'LIABILITY'}}},

        'Principal':{'type':{'Long_Term_Liability':{'type':'LIABILITY'}}},
        'Bonds':{'type':{'Long_Term_Liability':{'type':'LIABILITY'}}},
        'Debentures':{'type':{'Long_Term_Liability':{'type':'LIABILITY'}}},
        'Long term loans':{'type':{'Long_Term_Liability':{'type':'LIABILITY'}}},
        'Deffered tax':{'type':{'Long_Term_Liability':{'type':'LIABILITY'}}},
        'Lease Payments':{'type':{'Long_Term_Liability':{'type':'LIABILITY'}}},
        'Pensions':{'type':{'Long_Term_Liability':{'type':'LIABILITY'}}},
        'Mortagage':{'type':{'Long_Term_Liability':{'type':'LIABILITY'}}},

        'Sales':{'type':{'Operating':{'type':'REVENUE'}}},
        'Rent revenue':{'type':{'Operating':{'type':'REVENUE'}}},
        'Dividend revenue':{'type':{'Operating':{'type':'REVENUE'}}},
        'Interest revenue':{'type':{'Operating':{'type':'REVENUE'}}},
        'Contra revenue':{'type':{'Operating':{'type':'REVENUE'}}},

        'Interest Income':{'type':{'Non-Operating':{'type':'REVENUE'}}},
        'Dividend Income':{'type':{'Non-Operating':{'type':'REVENUE'}}},
        'Rental Income':{'type':{'Non-Operating':{'type':'REVENUE'}}},
        'Gain on Sale of Assets':{'type':{'Non-Operating':{'type':'REVENUE'}}},
        'Royalty Income':{'type':{'Non-Operating':{'type':'REVENUE'}}},
        'Insurance Proceeds':{'type':{'Non-Operating':{'type':'REVENUE'}}},
        'Foreign Exchange Gains':{'type':{'Non-Operating':{'type':'REVENUE'}}},
        'Legal Settlements':{'type':{'Non-Operating':{'type':'REVENUE'}}},
        'Miscellaneous Income':{'type':{'Non-Operating':{'type':'REVENUE'}}},

        'Salaries':{'type':{'Operating':{'type':'EXPENSE'}}},
        'Wages':{'type':{'Operating':{'type':'EXPENSE'}}},
        'Marketing':{'type':{'Operating':{'type':'EXPENSE'}}},
        'Advertising':{'type':{'Operating':{'type':'EXPENSE'}}},
        'Promotion':{'type':{'Operating':{'type':'EXPENSE'}}},
        'Selling':{'type':{'Operating':{'type':'EXPENSE'}}},
        'general, and administrative (SG&A)':{'type':{'Operating':{'type':'EXPENSE'}}},
        'Rent and insurance':{'type':{'Operating':{'type':'EXPENSE'}}},
        'Depreciation and amortization':{'type':{'Operating':{'type':'EXPENSE'}}},
        'Other':{'type':{'Operating':{'type':'EXPENSE'}}},
        'Interest':{'type':{'Operating':{'type':'EXPENSE'}}},
        'Taxes':{'type':{'Operating':{'type':'EXPENSE'}}},
        'Impairment charges':{'type':{'Operating':{'type':'EXPENSE'}}},
        
        'Rent':{'type':{'Fixed':{'type':'EXPENSE'}}},
        'Salaries, benefits, and wages (sometimes fixed and sometimes variable)':{'type':{'Fixed':{'type':'EXPENSE'}}},

        'Transaction fees':{'type':{'Variable':{'type':'EXPENSE'}}},
        'Commissions':{'type':{'Variable':{'type':'EXPENSE'}}},
        'Marketing and advertising (sometimes fixed and sometimes variable)':{'type':{'Variable':{'type':'EXPENSE'}}},


   

    }}

In [66]:
import pandas as pd

In [90]:
data = []

for account, details in config['accounts'].items():
    account_type = list(details['type'].values())[0]['type']
    C2  = (list(details['type'].keys())[0])
   
    # balance_type = config['account_types'][account_type]['balance_type']

    data.append({
        'C1': account_type,
        'C2':C2,
        'C3': account
        # 'Balance Type': balance_type
    })

df = pd.DataFrame(data)
df['G_CODE'] = df['C1'].map({'ASSET': 'G1', 'LIABILITY': 'G2', 'INCOME':'G3','EXPENSE':'G4','REVENUE':'G5'})
# df['G2'] = df['Account Type'].apply(lambda x: 'G1' if x == 'ASSET' else 'G2')

df

,C1,C2,C3,G_CODE
0,ASSET,CurrentAsset,Cash,G1
1,ASSET,CurrentAsset,CashEquivalents,G1
2,ASSET,CurrentAsset,ShortTermDeposits,G1
3,ASSET,CurrentAsset,AccountsReceivables,G1
4,ASSET,CurrentAsset,Inventory,G1
...,...,...,...,...
64,EXPENSE,Fixed,Rent,G4
65,EXPENSE,Fixed,"Salaries, benefits, and wages (sometimes fixed...",G4
66,EXPENSE,Variable,Transaction fees,G4
67,EXPENSE,Variable,Commissions,G4
68,EXPENSE,Variable,Marketing and advertising (sometimes fixed and...,G4

In [94]:
df[df['G_CODE']=='G1'][0:5]

      C1            C2                   C3 G_CODE
0  ASSET  CurrentAsset                 Cash     G1
1  ASSET  CurrentAsset      CashEquivalents     G1
2  ASSET  CurrentAsset    ShortTermDeposits     G1
3  ASSET  CurrentAsset  AccountsReceivables     G1
4  ASSET  CurrentAsset            Inventory     G1

In [95]:
df[df['G_CODE']=='G2'][:5]

           C1                 C2                      C3 G_CODE
20  LIABILITY  Current_Liability        Accounts Payable     G2
21  LIABILITY  Current_Liability  Principal  & Interest      G2
22  LIABILITY  Current_Liability    Outstanding_Salaries     G2
24  LIABILITY  Current_Liability           Notes Payable     G2
25  LIABILITY  Current_Liability         Income Tax dues     G2

In [92]:
df[df['G_CODE']=='G4'][0:5]

         C1         C2           C3 G_CODE
23  EXPENSE  Operating        Wages     G4
52  EXPENSE  Operating     Salaries     G4
53  EXPENSE  Operating    Marketing     G4
54  EXPENSE  Operating  Advertising     G4
55  EXPENSE  Operating    Promotion     G4

In [93]:
df[df['G_CODE']=='G5'][0:5]

         C1         C2                C3 G_CODE
38  REVENUE  Operating             Sales     G5
39  REVENUE  Operating      Rent revenue     G5
40  REVENUE  Operating  Dividend revenue     G5
41  REVENUE  Operating  Interest revenue     G5
42  REVENUE  Operating    Contra revenue     G5

In [100]:
config2 = {

    'accounts':{
        "Owner's Capital Account":{'type':'Capital'},
        "Partner's Capital Account":{'type':'Capital'},
        "Common Stock Account":{'type':'Capital'},
        "Retained Earnings Account":{'type':'Capital'},
        "Treasury Stock Account":{'type':'Capital'},
        "Contributed Surplus Account":{'type':'Capital'},
        "Legal Reserve Account":{'type':'Capital'},
        "Preferred Stock Account":{'type':'Capital'},
        "Partner's Drawing Account":{'type':'Capital'},
        "Member's Capital Account (LLC)":{'type':'Capital'}


    }
    }

In [111]:
data = []

for account, details in config2['accounts'].items():
   
    c = list(details.values())[0]

    data.append({
        'C1': c,
        'C2':account,
        
    })

    df = pd.DataFrame(data)
    df['G_CODE'] = df['C1'].map({'Capital':'G3'})
    # df['G2'] = df['Account Type'].apply(lambda x: 'G1' if x == 'ASSET' else 'G2')

df

        C1                              C2 G_CODE
0  Capital         Owner's Capital Account     G3
1  Capital       Partner's Capital Account     G3
2  Capital            Common Stock Account     G3
3  Capital       Retained Earnings Account     G3
4  Capital          Treasury Stock Account     G3
5  Capital     Contributed Surplus Account     G3
6  Capital           Legal Reserve Account     G3
7  Capital         Preferred Stock Account     G3
8  Capital       Partner's Drawing Account     G3
9  Capital  Member's Capital Account (LLC)     G3

In [166]:
config = {
    'accounts': {
        'Cash': {'type':{'CurrentAsset':{'type':'ASSET'}}},
        'CashEquivalents': {'type':{'CurrentAsset':{'type':'ASSET'}}},

        'Land':{'type':{'FixedAsset':{'type':'ASSET'}}},
        'Building':{'type':{'FixedAsset':{'type':'ASSET'}}},

        'Accounts Payable':{'type':{'Current_Liability':{'type':'LIABILITY'}}},
        'Principal  & Interest ':{'type':{'Current_Liability':{'type':'LIABILITY'}}},

    }
        
}

In [204]:
account = {}

class ASSET_Expense_Accounting:
    def __init__(self,opening_balance, Category):
        self.opening_balance = opening_balance
        self.credit_balance  = self.opening_balance
        self.debit_balance   = self.opening_balance
       

    def credit_transaction(self,credit_amount,credit_account):
        self.credit_balance = self.opening_balance - credit_amount
        account[credit_account]  = self.credit_balance
        debit = 0
        return credit_account ,account[credit_account], debit, 'credit'
       

    def debit_transaction(self,debit_amount,debit_account):
        self.debit_balance = debit_amount + self.opening_balance 
        account[debit_account]  = self.debit_balance
        credit = 0
        return debit_account ,account[debit_account], credit,'debit'
    
    def get_balance(self):
        return self.opening_balance, self.debit_balance, self.credit_balance, 
        

info = {
    'account': [],
    'credit_amount':  [],
    'debit_amount':[],
    'type':[],
    'opening_balance':[10000, 10000]
}

sys = ASSET_Expense_Accounting(10000,'ASSET')
acc ,amount, debit, type = sys.credit_transaction(2000,'cash')

info['account'].append(acc)
info['credit_amount'].append(amount)
info['debit_amount'].append(debit)
info['type'].append(type)

acc ,amount, credit, type  = sys.debit_transaction(2000,'CashEquivalents')
info['account'].append(acc)
info['debit_amount'].append(amount)
info['credit_amount'].append(credit)
info['type'].append(type)

pd.DataFrame(info)

           account  credit_amount  debit_amount    type  opening_balance
0             cash           8000             0  credit            10000
1  CashEquivalents              0         12000   debit            10000

In [208]:
account = {}

class Liability_Capital_Revenue_Accounting:
    def __init__(self,opening_balance, Category):
        self.opening_balance = opening_balance
        self.credit_balance  = self.opening_balance
        self.debit_balance   = self.opening_balance
       

    def credit_transaction(self,credit_amount,credit_account):
        self.credit_balance = self.opening_balance + credit_amount
        account[credit_account]  = self.credit_balance
        debit = 0
        return credit_account ,account[credit_account], debit, 'credit'
       

    def debit_transaction(self,debit_amount,debit_account):
        self.debit_balance =  self.opening_balance   - debit_amount 
        account[debit_account]  = self.debit_balance
        credit = 0
        return debit_account ,account[debit_account], credit,'debit'
    
    def get_balance(self):
        return self.opening_balance, self.debit_balance, self.credit_balance, 
        

info = {
    'account': [],
    'credit_amount':  [],
    'debit_amount':[],
    'type':[],
    'opening_balance':[10000, 10000]
}

sys = Liability_Capital_Revenue_Accounting(10000,'Liability')
acc ,amount, debit, type = sys.credit_transaction(2000,'Accounts Payable')

info['account'].append(acc)
info['credit_amount'].append(amount)
info['debit_amount'].append(debit)
info['type'].append(type)

acc ,amount, credit, type  = sys.debit_transaction(2000,'Principal  & Interest')
info['account'].append(acc)
info['debit_amount'].append(amount)
info['credit_amount'].append(credit)
info['type'].append(type)

pd.DataFrame(info)

                 account  credit_amount  debit_amount    type  opening_balance
0       Accounts Payable          12000             0  credit            10000
1  Principal  & Interest              0          8000   debit            10000

In [118]:
def apply_dr_cr_rule(C1,account_name):
    if C1 == 'ASSET':
        apply_asset(account_name,'ASSET')


# if C1=='Liability':
#     apply_Liability()

# if C1=='Capital':
#     apply_Capital()

# if C1=='Income':
#     apply_Income()

# if C1=='Expenses':
#     apply_Expenses()