In [46]:
import fitz
import pandas as pd
import re
import os
import fitz
from PIL import Image
import pytesseract

In [47]:
pdf_path = 'ELE2.pdf'

text = ''
pdf_document = fitz.open(pdf_path)
count = pdf_document.page_count
for i in range(count):
    page = pdf_document[i]
    tx= page.get_text()
    text+=tx
# print(text)


pattern = re.compile(r'Guest Name :([^0-9]+)\s+(\d+)\s+([\d.]+)\s+([\d.]+)\s+Journey Start Date :(\d{2}-\d{2}-\d{4})\s+Journey end Date:(\d{2}-\d{2}-\d{4})\s+Invoice No :(\w+-\d+)')

# Find all matches
matches = pattern.findall(text)
k = {}
k['Guest Name']  = []
k['Quantity'] = []
k['Rate'] = []
k['Amount'] = []
k['Journey start Date'] = []
k['Journey end Date'] = []
k['Invoice No'] = []
 

for match in matches:
    Guest_Name =  match[0].strip()
    k['Guest Name'].append(Guest_Name)
    
    Quantity =  match[1]
    k['Quantity'].append(Quantity)
    
    Rate = match[2]
    k['Rate'].append(Rate)
    
    Amount = match[3]
    k['Amount'].append(Amount)
    
    Journey_start_Date =  match[4]
    k['Journey start Date'].append(Journey_start_Date)
    
    Journey_end_Date = match[5]
    k['Journey end Date'].append(Journey_end_Date)
    
    Invoice_No = match[6]
    k['Invoice No'].append(Invoice_No)
    

df = pd.DataFrame(k)
df.to_excel('ele_out2.xlsx',index=False)

In [48]:
pdf_path = 'ELE.pdf'

text = ''
pdf_document = fitz.open(pdf_path)
count = pdf_document.page_count
for i in range(count):
    page = pdf_document[i]
    tx= page.get_text()
    text+=tx

pattern = re.compile(r'Guest Name :([^0-9]+)\s+(\d+)\s+([\d.]+)\s+([\d.]+)\s+Journey start Date:(\d{2}-\d{2}-\d{4})\s+Journey end Date:(\d{2}-\d{2}-\d{4})\s+Invoice No :(\w+-\d+)')

# Find all matches
matches = pattern.findall(text)
k = {}
k['Guest Name']  = []
k['Quantity'] = []
k['Rate'] = []
k['Amount'] = []
k['Journey start Date'] = []
k['Journey end Date'] = []
k['Invoice No'] = []


for match in matches:
    Guest_Name =  match[0].strip()
    k['Guest Name'].append(Guest_Name)
    
    Quantity =  match[1]
    k['Quantity'].append(Quantity)
    
    Rate = match[2]
    k['Rate'].append(Rate)
    
    Amount = match[3]
    k['Amount'].append(Amount)
    
    Journey_start_Date =  match[4]
    k['Journey start Date'].append(Journey_start_Date)
    
    Journey_end_Date = match[5]
    k['Journey end Date'].append(Journey_end_Date)
    
    Invoice_No = match[6]
    k['Invoice No'].append(Invoice_No)


import pandas as pd
df = pd.DataFrame(k)
df.to_excel('ele_out1.xlsx',index=False)

In [49]:
pdf_path = 'ELE3.pdf'

text = ''
pdf_document = fitz.open(pdf_path)
count = pdf_document.page_count
for i in range(count):
    page = pdf_document[i]
    tx= page.get_text()
    text+=tx

pattern = re.compile(r'Guest Name :([^0-9]+)\s+(\d+)\s+([\d.]+)\s+([\d.]+)\s+Journey Start Date:(\d{2}-\d{2}-\d{4})\s+Journey end Date:(\d{2}-\d{2}-\d{4})\s+Invoice No :(\w+-\d+)')

# Find all matches
matches = pattern.findall(text)
k = {}
k['Guest Name']  = []
k['Quantity'] = []
k['Rate'] = []
k['Amount'] = []
k['Journey start Date'] = []
k['Journey end Date'] = []
k['Invoice No'] = []

# Display extracted information
for match in matches:
    Guest_Name =  match[0].strip()
    k['Guest Name'].append(Guest_Name)
    
    Quantity =  match[1]
    k['Quantity'].append(Quantity)
    
    Rate = match[2]
    k['Rate'].append(Rate)
    
    Amount = match[3]
    k['Amount'].append(Amount)
    
    Journey_start_Date =  match[4]
    k['Journey start Date'].append(Journey_start_Date)
    
    Journey_end_Date = match[5]
    k['Journey end Date'].append(Journey_end_Date)
    
    Invoice_No = match[6]
    k['Invoice No'].append(Invoice_No)


import pandas as pd
df = pd.DataFrame(k)
df.to_excel('ele_out3.xlsx',index=False)

In [50]:
# main_df = pd.concat([df, df2], ignore_index=True)

df1 = pd.read_excel('ele_out1.xlsx',engine='openpyxl')
df2 = pd.read_excel('ele_out2.xlsx',engine='openpyxl')
df3 = pd.read_excel('ele_out3.xlsx',engine='openpyxl')
main_df = pd.concat([df1, df2,df3], ignore_index=True)

In [51]:
main_df.to_excel('elegant_data.xlsx')

In [52]:
main_df

,Guest Name,Quantity,Rate,Amount,Journey start Date,Journey end Date,Invoice No
0,Ayan Chatterjee,1,57.957,57.957,26-08-2022,26-08-2022,AF2223-015260
1,Tejas Sunil Tambe,1,492.609,492.609,26-08-2022,26-08-2022,AF2223-015261
2,Trishit Singh,1,116.748,116.748,26-08-2022,26-08-2022,AF2223-015262
3,Ashish Attri,1,469.563,469.563,26-08-2022,26-08-2022,AF2223-015264
4,SWAPAN KUMAR MITRA,1,145.545,145.545,26-08-2022,26-08-2022,AF2223-015265
...,...,...,...,...,...,...,...
226,aniket Anand,1,428.570,428.570,24-10-2022,24-10-2022,AF2223-015695
227,Vishant Saini,1,2506.950,2506.950,24-10-2022,24-10-2022,AF2223-015696
228,Neeraj Kumar,1,476.790,476.790,24-10-2022,25-10-2022,AF2223-015697
229,Capt. Renjith Kumar Dhas Jesudhasan,1,428.570,428.570,24-10-2022,24-10-2022,AF2223-015699
230,Amandeep Singh,1,710.570,710.570,24-10-2022,25-10-2022,AF2223-015700